<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Vue + TS</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

      :root {
        font-size: 16px;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
          'Noto Color Emoji';
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <ma-header></ma-header>
    <div
      style="
        display: grid;
        grid-template-columns: 8fr 4fr;
        max-width: 1200px;
        margin: 0 auto;
      "
    >
      <div style="display: flex; flex-direction: column; gap: 24px">
        <ma-login-banner login-url="https://misteraladin.com"></ma-login-banner>
        <ma-card>
          <span slot="header">Detail Pemesan</span>
          <div style="display: flex; flex-direction: column; gap: 24px">
            <div
              style="
                display: grid;
                grid-template-columns: 120px repeat(3, 1fr);
                gap: 24px;
              "
            >
              <ma-input-group>
                <label for="first-name">Title</label>
                <ma-dropdown
                  v-model="title"
                  :options="['Mr', 'Mrs', 'Ms', 'Miss', 'Dr']"
                  placeholder="Title"
                />
              </ma-input-group>
              <ma-input-group>
                <label for="first-name">Nama Depan</label>
                <ma-input
                  type="text"
                  class="hello-there hello-all"
                  name="first-name"
                ></ma-input>
              </ma-input-group>
              <ma-input-group>
                <label for="first-name">Nama Tengah</label>
                <ma-input
                  type="text"
                  class="hello-there hello-all"
                  name="first-name"
                ></ma-input>
              </ma-input-group>
              <ma-input-group>
                <label for="first-name">Nama Belakang</label>
                <ma-input
                  type="text"
                  class="hello-there hello-all"
                  name="first-name"
                ></ma-input>
              </ma-input-group>
            </div>
            <ul style="display: flex; flex-direction: column; gap: 8px">
              <li
                style="
                  font-family: 'Montserrat';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 16px;
                  color: #757575;
                  margin-left: 16px;
                "
              >
                Untuk WNI, nama dan NIK harus sama dengan yang terdaftar. Untuk
                WNA, gunakan nama dan nomor yang tercantum di paspor. Untuk WNA
                , gunakan nama dan nomor vang tercantum di paspor.
              </li>
              <li
                style="
                  font-family: 'Montserrat';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 16px;
                  color: #757575;
                  margin-left: 16px;
                "
              >
                Jika kamu tidak memiliki "nama tengah" (contoh: Ari Wibowo),
                kosongkan bagian nama tengah dan hanya isi nama depan (contoh:
                Ari) dan nama akhir (contoh: Wibowo)
              </li>
              <li
                style="
                  font-family: 'Montserrat';
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 16px;
                  color: #757575;
                  margin-left: 16px;
                "
              >
                Jika kamu hanya memiliki satu nama (contoh: Kartini), harap
                mengosongkan nama tengah dan mengisi nama belakang dengan nama
                depan (contoh: Kartini Kartini).
              </li>
            </ul>

            <ma-input-group>
              <label for="first-name">Nomor Telepon</label>
              <ma-dropdown
                v-model="title"
                :options="['Mr', 'Mrs', 'Ms', 'Miss', 'Dr']"
                placeholder="Title"
                data-group="prepend"
              ></ma-dropdown>
              <ma-input
                type="text"
                class="hello-there hello-all"
                name="first-name"
                placeholder="81234567890"
                data-group="primary"
              ></ma-input>
            </ma-input-group>

            <ma-input-group>
              <label for="first-name">Email</label>
              <ma-input
                type="text"
                class="hello-there hello-all"
                name="first-name"
                placeholder="email@domain.com"
              ></ma-input>
            </ma-input-group>
          </div>
        </ma-card>
        <ma-card>
          <span slot="header">Detail Penumpang</span>
          <div slot="header">
            <label for="">sama seperti pemesan</label>
            <input type="radio" name="" id="" />
          </div>
        </ma-card>
      </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
