.text-strike {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-bold {
  font-weight: 700;
}

.text-semibold {
  font-weight: 600;
}

.text-medium {
  font-weight: 500;
}
